@import './components/css/variables.scss';

.grid{
  display: grid;
  gap: 20px;
}
.col-4{
  grid-template-columns: repeat(4, 25%);
}
.row-2{
  grid-template-rows: repeat(2, auto);
}
.colspan-2{
  grid-row: 1 / 3;
}
.dashboard{
  height: 480px;
}
@media screen and (min-width: 375px){
  .dashboard{
    width: 90%;
  }
}